body {
  margin: 0;
}
aside {
  background-color: tomato;
}

.aside-title {
  font-size: x-large;
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin: 10px;
}

main {
    margin-right: 10px;
}

.column-temp {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  grid-gap: 10px;
}

.topics-list {
  font-size: large;
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

ul > * {
  margin: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 10px;
    grid-auto-flow: column;
}

.grid-container > p {
    padding: 15px;
    border-radius: 5px;
    background-color: dodgerblue;
    margin: 0 0 10px 0;
    color: white;
}

.main-container {
    padding: 15px;
}